*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.App {
    justify-content: center;
    align-content: center;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    /*background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);*/
    font-family: "Inter", sans-serif;
}

/*media (max-width: 60em) {
    body {
        padding: 3rem;
    }
}
 */

.grid {
    display: grid;
    width: 100%;
    grid-gap: 6rem;
    grid-template-columns: repeat(3, minmax(30rem, 1fr));
    align-items: start;
    padding-bottom: 3rem;
}

/*
@media (max-width: 60em) {
    .grid {
        grid-gap: 3rem;
    }
}*/

.grid__item {
    /*background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);*/
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.grid__item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.card__img {
    display: block;
    width: 100%;
    height: 18rem;
    object-fit: cover;
}

.card__content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
}

.card__content__top {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.card__header {
    margin-top: 0;
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    line-height: 2.2rem;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__header__image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.card__text {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: blanchedalmond;
    margin-bottom: 2.5rem;
}
