.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 500px;
}

.input {
    width: 300px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
    margin-right: 38px;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

nav {
    width: 114rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid white;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 5px;
}

.logo > img:hover {
    cursor: pointer;
}

.logo span {
    color: white;
    font-weight: bold;
}


.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-item {
    width: 90px;
    color: #0d0c22;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #f3f3f4;
    border-radius: 8px;
}